// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// HighlightJS
@import "highlight";

// FontAwesome
@import "node_modules/font-awesome/scss/font-awesome";

.tags_list,
.meta_list {
  padding-left: 0;
  list-style: none;
  li {
    display: inline-block;
    &:not(:first-child):before {
      content: " • ";
    }
  }
}

.alert {
  display: inline-block;
  position: fixed;
  bottom: 10px;
  right: 10px;
  max-width: 450px;
  opacity: .9;
  z-index: 999;
}